{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [tls13]}
]}.

{relx, [{release, {tls13, "0.1.0"}, [crypto, public_key, tls13]},
        {dev_mode, true},
        {include_erts, true},
        {extended_start_script, true}]}.

{edoc_opts, [{private,true}]}.
